@font-face {
    font-family: 'Coolvetica';
    src: url('resources/coolvetica\ rg.otf');
}

:root{
    --usg-primary: #ffcd00;
    --usg-secondary: #000000;
    --usg-background: #f0f0f0;
}

*{
    font-family: 'Coolvetica', sans-serif;
    box-sizing: border-box;
}

span{
    display: block;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--usg-background);
}

.heading{
    width: 100%;
    padding: 20px;
    background-color: var(--usg-primary);
    color: var(--usg-secondary);
}

.heading img{
    width: 100px;
    margin-right: 20px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small{
    font-size: 0.8em;
}

.medium{
    font-size: 1.2em;
}

.large{
    font-size: 1.6em;
}

.huge{
    font-size: 2em;
}