<div class="heading">
    <img src="Crest_edited.png" alt="Crest" class="crest">
    <div class="text-content">
        <span class="large">USG - Public</span>
    </div>
    <div class="buttons">
        <button class="hover-button">
            <span class="material-symbols-outlined">home</span>
            <div class="sub">
                <span class="background medium">Back to USG</span>
            </div>
        </button>
    </div>
</div>