<%- include('components/common') %>
<%- include('components/header', { session: session }) %>

<div class="content">
    <br/>

    <div class="flex-center">
        <span class="huge">Manage USG Website Posts</span>
    </div>
    <br/>

</div>